$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon_minus: "\e91b";
$icon_plus: "\e91c";
$icon_quote: "\e91a";
$icon_close: "\e918";
$icon_burger: "\e919";
$icon_arrow_bottom: "\e900";
$icon_arrow_top: "\e901";
$icon_arrow_lefr_sm: "\e902";
$icon_arrow_right_sm: "\e903";
$icon_arrow_left: "\e904";
$icon_arrow_right: "\e905";
$icon_basket: "\e906";
$icon_location: "\e907";
$icon_delete2: "\e91d";
$icon_delete: "\e908";
$icon_phone: "\e909";
$icon_mark: "\e90a";
$icon_clock: "\e90b";
$icon_mail: "\e90c";
$icon_car: "\e90d";
$icon_loop: "\e90e";
$icon_percentage: "\e90f";
$icon_question: "\e910";
$icon_instagram: "\e911";
$icon_facebook: "\e912";
$icon_vk: "\e913";
$icon_telegram: "\e914";
$icon_whatsapp: "\e915";
$icon_viber: "\e916";
$icon_youtube: "\e917";

