// begin content
section#content.content.section
    .container_center
        .content__title Сельское хозяйство

        .content__preview
            p Сельское хозяйство - это отрасль экономики, которая занимается производством продуктов питания и других сельскохозяйственных продуктов. В сельском хозяйстве используются различные инструменты и технологии, чтобы получать наилучшие результаты. Доильный аппарат - это машина, которая используется для доения животных, в основном коров. Доильные аппараты позволяют увеличить производительность и эффективность доения, что может быть особенно важно для крупных хозяйств. Однако, необходимо убедиться, что доильный аппарат используется правильно и не наносит вреда животным.

        .content__collapse
            .collapse__body(data-collapse-body="")
                .content__content
                    p Сельское хозяйство - это отрасль экономики, которая занимается производством продуктов питания и других сельскохозяйственных продуктов. В сельском хозяйстве используются различные инструменты и технологии, чтобы получать наилучшие результаты. Доильный аппарат - это машина, которая используется для доения животных, в основном коров. Доильные аппараты позволяют увеличить производительность и эффективность доения, что может быть особенно важно для крупных хозяйств. Однако, необходимо убедиться, что доильный аппарат используется правильно и не наносит вреда животным.


                    h1 заголовок h1
                    h2 заголовок h2
                    h3 заголовок h3
                    h4 заголовок h4
                    h5 заголовок h5
                    h6 заголовок h6

                    p Сельское хозяйство - это отрасль экономики, которая занимается производством продуктов питания и других сельскохозяйственных продуктов. В сельском хозяйстве используются различные инструменты и технологии, чтобы получать наилучшие результаты. Доильный аппарат - это машина, которая используется для доения животных, в основном коров. Доильные аппараты позволяют увеличить производительность и эффективность доения, что может быть особенно важно для крупных хозяйств. Однако, необходимо убедиться, что доильный аппарат используется правильно и не наносит вреда животным.



                    ul
                        each item in ['защищенность от размокания;', 'использование водостойких материалов и покрытий;', 'широкий диапазон рабочих температур;', 'обработка составами, предотвращающими появление плесени или грибков;']
                            li=item



            .collapse__title(data-collapse="")
                .content__toggle Читать полностью

// end content
