// begin pagination
.pagination
    naw.woocommerce-pagination
        ul.page-numbers
            li
                a(href="#").page-numbers.prev Назад
            li
                span.page-numbers.current 1
            li
                a(href="#").page-numbers 2
            li
                a(href="#").page-numbers 3
            li
                span.page-numbers.dots ...
            li
                a(href="#").page-numbers 7
            li
                a(href="#").page-numbers.next Вперед

// end pagination
