.information {
    .section__title {
        line-height: 1.9;
        margin: 0;
        @media (min-width: 768px) {
            line-height: 1.6;
        }
    }

    &__wrap {
        position: relative;
        overflow: hidden;
        color: $color_white;

        padding: 1em;
        border-radius: 1.25em;

        @media (min-width: 768px) {
            padding: 4.375em 5.3125em;
            border-radius: 2.25em;

            min-height: 41.25em;
        }
    }

    &__subtitle {
        letter-spacing: 0.02em;
        line-height: 1.43;

        font-size: 0.875em;
        margin-top: 0.5em;
        @media (min-width: 768px) {
            font-size: 1.75em;
            margin-top: 1em;

        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__content {
        position: relative;
        @media (min-width: 768px) {
            width: 61.875em;
        }
    }

    &__grid {
        margin-top: 0.75em;
        @media (min-width: 768px) {
            margin-top: 2.5em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2.5em;

            width: 45em;
        }
    }

    &__list {
        margin-top: 1.25em;
        @media (min-width: 768px) {
            margin-top: 2em;
        }

        .information__item {
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
        @media (min-width: 768px) {
            margin-bottom: 0;
        }

        .mark {
            margin-right: 0.75em;
            @media (min-width: 768px) {
                margin-right: 1.5625em;
            }
        }

        span {
            line-height: 1.5;
            font-size: 0.75em;
            @media (min-width: 768px) {
                line-height: 1.34;
                font-size: 1.125em;

            }
        }
    }

    &__mark {}

    &__btn {
        margin-top: 17.25em;
        @media (min-width: 768px) {
            margin-top: 3.875em;

        }
    }

    &__form {
        margin-top: 1.25em;
        @media (min-width: 768px) {
            margin-top: 2em;
        }
    }

    &__worker {
        position: absolute;
        bottom: 13.75em;
        left: 9.25em;

        @media (min-width: 768px) {
            bottom: 2.5em;
            left: 43em;
        }
    }

    &__messenger {
        @media (min-width: 768px) {
            margin-right: 4em;
        }
    }

    &__action {

        display: flex;
        justify-content: space-between;
        margin-top: 1.25em;
        @media (min-width: 768px) {
            justify-content: flex-start;
            margin-top: 2em;
        }

        .phone__label {
            @media (max-width: 767px) {
                line-height: 0.8;

                span {
                    font-size: 0.5em;
                }
            }
        }

        .phone__link {
            margin-top: 0.375em;
            @media (min-width: 768px) {

                margin-top: 0.5em;
            }

            a {
                font-size: 0.875em;
                @media (min-width: 768px) {
                    font-size: 1.5em;
                }
            }
        }

        .messenger__label {
            @media (min-width: 768px) {
                margin-bottom: 0.5em;
                width: 7.5em;

                span {
                    font-size: 0.875em;
                }
            }
        }

        .messenger__link {
            font-size: 0.875em;
            @media (min-width: 768px) {
                font-size: 1.429em;
            }
        }
    }

    .btn {
        padding: 1.4em 1.5em;
        @media (min-width: 768px) {
            font-size: 1.25em;
            padding: 1.4em 3.5em;
        }
    }

    .worker {
        letter-spacing: 0.02em;
        text-align: center;
        font-weight: 600;
        width: 16.25em;
        font-size: 0.5em;
        @media (min-width: 768px) {
            font-size: 1em;
        }

        &__name {
            font-size: 1.25em;
            font-family: $second_font_family;
            line-height: 1.6;
        }

        &__info {
            margin-top: 0.15em;
            font-size: 0.875em;
            color: #F5F9F9;
            line-height: 1.429;
        }

    }

}

.information_form {
    .information__wrap {
        @media (max-width: 767px) {
            padding: 1.25em 0.9375em 24.0625em;
        }
    }

    .section__title {
        @media (max-width: 767px) {
            line-height: 1.5;
        }

    }

    .information__content {
        @media (min-width: 768px) {
            width: 41.875em;
        }
    }

    .mark {
        @media (max-width: 767px) {
            font-size: 0.75em;
        }
    }

    .form__label_hide {
        @media (max-width: 767px) {
            display: none;
        }
    }

    .worker {
        @media (max-width: 767px) {
            font-size: 0.7em;
        }
    }

    .information__worker {
        left: 7em;
        bottom: 17.25em;
        @media (min-width: 768px) {
            bottom: 20.25em;
            left: 74.125em;
        }
    }
}
