// Style for button and pseudo button for input and link

.btn {
	display: inline-block;
	padding: 1.1em 3.5em;
	border-radius: 4em;
	border: none;
	outline: none;
	max-width: 100%;

	font-family: $main_font_family;
	font-weight: 600;
	text-decoration: none;
	text-align: center;

	color: $color_white;
	background-color: $color_success;

	cursor: pointer;
	letter-spacing: 0.02em;
	transition: 0.3s;

	font-size: 0.875em;
	width: 100%;

	@media (min-width: 768px) {
		font-size: 1.25em;
		width: auto;

		&:hover {
			background-color: darken($color_success, 10%);
		}

		&:active {
			background-color: $color_success;
		}
	}

	&_primary {
		background-color: #F5F9F9;
		color: $color_primary;

		@media (min-width: 768px) {
			&:hover {
				background-color: darken(#F5F9F9, 3%);
			}

			&:active {
				background-color: #F5F9F9;
			}
		}
	}

	&:disabled {
		// color: red;
		background-color: lighten($color_success, 10%);
		cursor: not-allowed;
		// pointer-events: none;
	}

}
