.catalogue {
    &__btn {
        display: flex;
        align-items: center;

        padding: 1.125em 1.864em;
        border-radius: 1.25em;

        background-color: $color_yellow;
        color: $color_white;
        transition: 0.3s;
        cursor: pointer;

        span {
            font-size: 1.25em;
        }

        &:hover {
            background-color: darken($color_yellow, 2%);
        }
    }

    &__toggle {
        position: relative;

        width: 1.375em;
        height: 1em;
        border: 0.125em solid;
        border-left: 0;
        border-right: 0;
        margin-right: 1.375em;

        &:after,
        &:before {
            content: '';
            display: inline-block;
            border-top: 0.125em solid;

            position: absolute;
            top: 50%;
            margin-top: -0.0625em;
            left: 0;
            width: 100%;
            transition: transform 0.3s;

        }

        &.active {
            border-top-color: transparent;
            border-bottom-color: transparent;

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }

    }

    &__list {
        border: 1px solid #000;
        position: absolute;
        bottom: -23.75em;
        left: 0;
        background-color: $color_white;
        width: 100%;
        padding-top: 1.25em;
        padding-bottom: 4em;

        opacity: 0;
        visibility: hidden;
        transform: translateY(-2em);

        transition: 0.3s;

        &.active {
            opacity: 1;
            transform: translateY(0);
            visibility: visible;
        }

    }

    &__menu {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        letter-spacing: 0.02em;
        margin-bottom: 0.25em;
        line-height: 1.4;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            display: inline-block;
            border-radius: 0.8572em;
            padding: 0.8867em 1.14285em;
            background-color: transparent;
            color: #739596;
            text-decoration: none;
            font-size: 0.875em;

            &:hover {
                background-color: #F5F9F9;
            }
        }
    }

    &__item_has-children {
        > a {
            position: relative;
            padding-right: 3.25em;

            &:after {
                content: '\e905';
                font-family: $icon_font_family;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                right: 2em;
                font-size: 0.75em;
                opacity: 0;
                transition: 0.3s;
            }

            &:hover {
                &:after {
                    transform: translate(0%, -50%);
                    opacity: 1;
                }
            }
        }
    }
}
