.menu {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: 768px) {
        display: flex;
    }

    &-item {

        letter-spacing: 0.02em;
        text-transform: uppercase;

        margin-bottom: 1.5em;

        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: 768px) {
            margin-bottom: 0;
            margin-right: 2.5em;

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            text-decoration: none;
            font-size: 0.875em;
            color: $main_color;
            @media (min-width: 768px) {
                color: $color_white;

            }
        }

        &:nth-child(2) {
            a {
                &:after,
                &:before {
                    content: '\e90f';
                    font-family: $icon_font_family;

                    // display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 2.287em;
                    height: 2.287em;
                    border-radius: 100%;
                    // line-height: 1;

                    background-color: $color_white;
                    color: $color_success;

                    transform: translateY(-0.125em);

                    font-size: 0.75em;
                }

                &:before {
                    margin-right: 0.375em;
                    background-color: $color_white;
                    color: $color_success;
                    display: none;
                    @media (min-width: 768px) {
                        display: inline-flex;
                    }
                }

                &:after {
                    margin-left: 0.375em;
                    background-color: $color_success;
                    color: $color_white;

                    display: inline-flex;
                    @media (min-width: 768px) {
                        display: none;
                    }
                }
            }
        }

        @media (min-width: 768px) {
            &:first-child {
                display: none;
            }
        }
    }

}

.nav-open {
    overflow: hidden;
}
