// Main wrappers =====================================

body {
	font-family: $main_font_family;
	color: $main_color;
	line-height: $main_line_height;
	font-size: calc(.05 * 100vw + 0px);

	@media (min-width: 768px) {
		font-size: calc(.008333334 * 100vw + 0px);
	}

}

.wrapper {
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100%;

	font-size: $main_font_size;
	transition: 0.3s;

	&:after {
		content: '';
		display: block;
		position: fixed;
		bottom: -100vh;
		left: 0;
		width: 100vw;
		height: 100vh;

		background-color: rgba(16, 21, 12, 0.8);
		backdrop-filter: blur(4px);
		z-index: 1;
		transition: opacity 0.3s;
		opacity: 0;

	}

	&.catalogue-open {
		&:after {
			bottom: 0;
			opacity: 1;
		}
	};

}

/* Middle
 ----------------------------------------------------------------------------- */
.main_content {
	flex-grow: 1;

}

.container_center {
	max-width: $container_width;
	padding: 0 1.375em;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding: 1.375em 0;
	@media (min-width: 768px) {
		padding: 2.8125em 0;
	}

	&:first-child {
		padding-top: 0;
	}

	&__title {
		font-family: $second_font_family;
		font-weight: 500;
		letter-spacing: 0.05em;
		font-size: 1em;
		margin: 0 0 1.25em;
		line-height: 1.333333;
		@media (min-width: 768px) {
			margin: 0 0 2.5em;
			line-height: 1.6;
		}

		span {
			font-size: 1.125em;
			@media (min-width: 768px) {
				font-size: 2.5em;

			}
		}

		&_lg {
			@media (min-width: 768px) {
				margin-bottom: 1.75em;
			}

			span {
				@media (min-width: 768px) {
					font-size: 3em;
				}
			}
		}
	}
}

.desktop {
	@media (max-width: 767px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 768px) {
		display: none !important;
	}
}

.d-none {
	display: none;
}

.d-block {
	display: block!important;
}

.bg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.img {
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.mark {
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba($color_success, 0.2);
	border-radius: 0.75em;

	width: 2em;
	height: 2em;
	@media (min-width: 768px) {
		width: 2.5em;
		height: 2.5em;

	}

	&:after {
		content: '\e90a';
		font-family: $icon_font_family;
		font-size: 0.5em;
		@media (min-width: 768px) {
			font-size: 0.75em;

		}
	}

}

.snakeline {
	a {
		position: relative;
		text-decoration: none;

		&:after {
			content: '';
			position: absolute;
			display: inline-block;
			width: 100%;
			left: 0;
			bottom: -0.125em;
			border-bottom: 0.125em solid;
			border-color: inherit;

			@media (min-width: 768px) {
				transition: width 0.3s;
			}
		}

		@media (min-width: 768px) {
			&:hover {
				&:after {
					width: 70%;
				}
			}
		}

	}
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.counter-wrap {
	counter-reset: line var(--line-num, 0);
}

.counter-item {
	counter-increment: line;

	&:nth-child(n+10) {
		.counter-el {
			&:before {
				content: none;

			}
		}
	}

	.counter-el {
		&:before {
			content: '0';

		}

		&:after {
			content: counter(line) ' ';
		}

	}
}

// * {
// 	border: 1px solid #000;
// }
