.tab__text
    p Условия оплаты и доставки Доильный аппарат TK 2-PK для коров. Доставка осуществляется только по предоплате.
.tab__collapse

    .collapse(data-collapse-wrapper="")
        .collapse__title(data-collapse="") 
            span Доставка транспортной компанией
        .collapse__body(data-collapse-body="")
            .tab__text
                p Вы сообщаете о необходимости доставки до Вашего города и мы включаем транспортные расходы в цену, сами ищем и нанимаем транспорт по оптимальной ставке, предварительно согласовав ставку с Вами.
                p Условия доставки товаров:

                ul
                    li Доставка осуществляется только заказанных товаров. Транспортировка нескольких товаров с целью выбора одного из них на месте доставки не производится.
                    li При согласовании даты доставки Покупатель обязуется находиться по указанному им адресу — Доставка осуществляется организацией-подрядчиком, определяемой Продавцом.
                    li Доставка может производиться до дверей Покупателя либо до пунктов самовывоза транспортных компаний, согласованных заранее с Покупателем.
                    li В обязанности курьеров не входит консультация по эксплуатации и характеристикам товара, его установка и настройка. В случае необходимости, информацию о товаре можно получить на сайте или у специалиста по телефонам, указанным на сайте.



    .collapse(data-collapse-wrapper="")
        .collapse__title(data-collapse="") 
            span Самовывоз с нашего склада
        .collapse__body(data-collapse-body="")
            .tab__text
                p Если у Вас есть свои машины или свои перевозчики, Вы можете забрать оборудование с нашего склада. Адрес нашего склада: 213828 Республика Беларусь, Могилевская область, г.Бобруйск, ул.Октябрьская 149а. Рабочие дни: понедельник-пятница с 9.00 до 18.00 Выходные дни: суббота-воскресенье Возможна загрузка в более позднее время по согласованию.

    .collapse(data-collapse-wrapper="")
        .collapse__title(data-collapse="") 
            span Регионы доставки
        .collapse__body(data-collapse-body="")
            .tab__text

                ul
                    each item in ['Азербайджан, все регионы', 'Молдова, все регионы', 'Армения, все регионы', 'Россия, все регионы', 'Беларусь, все регионы', 'Таджикистан, все регионы', 'Грузия, все регионы', 'Туркменистан, все регионы', 'Казахстан, все регионы', 'Узбекистан, все регионы', 'Кыргызстан, все регионы']
                        li=item
