.tab__text
    p Передвижной аппарат для доения 2-х коров турецкого бренда Melasty. Компания Melasty является лидером производства доильных аппаратов. Высокое качество изделий соответствует Европейским нормам.

    p <b>Преимущества доильного аппарата TK 2-PK:</b>

    ul 
        each item in ['подключение на 2 коровы;', 'имитация ручной дойки с 2-мя пульсаторами попарного доения;', 'рассчитан на доение 20 коров в час;', 'бидон из нержавеющей стали на 40 л;', 'сосковая резина длительного использования из каучука;', 'вакуумный насос сухого типа беспрерывно работает в любую погоду (от -35 до +45 градусов);', 'передвижной тип рамы на колёсах с ручкой;', 'срок службы не менее 8 лет.']
            li=item

    p <b>В комплект входит:</b>

    ul
        each item in ['вакуумная установка;', 'инструкция по сборке и эксплуатации;', 'подвесная часть и бидон;', 'гарантийный талон завода-изготовителя на 1 год.']
            li=item

    p Аппарат великолепно подойдёт как для промышленных, так и домашних условий.
