.tab__text
    p Компания осуществляет возврат и обмен этого товара в соответствии с требованиями законодательства.

    p <b>Сроки возврата</b>

    p Возврат возможен в течение 14 дней после получения (для товаров надлежащего качества). Обратная доставка товаров осуществляется за счет покупателя. Согласно действующему законодательству вы можете вернуть товар надлежащего качества или обменять его, если:
    ul
        li товар не был в употреблении и не имеет следов использования потребителем: царапин, сколов, потёртостей, пятен и т. п.;
        li сохранены все ярлыки и заводская маркировка;
        li  товар полностью укомплектован и сохранена фабричная упаковка;
        li товар сохраняет товарный вид и свои потребительские свойства.
