extends ../../layout/layout.pug

block variable
    -var path = '../../';


    //- include ../../includes/information.pug
    //- include ../../includes/pagination.pug

    //- (style="background-image: url('../../img/preview_bg.webp')")


block content
    // begin breadcrumb
    .breadcrumb.desktop 
        .container_center
            naw.woocommerce-breadcrumb
                a(href="#") Главная
                | Поиск

    // end breadcrumb

    // begin catalog
    section#catalog.catalog.section
        .container_center
            h1.section__title.section__title_lg
                span Результаты поиска

            .catalog__results
                .catalog__request Запрос “Доильный аппарат”.
                .catalog__found Найдено 40 товаров


            .catalog__grid
                each item in ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '' ]
                    //- start catalog__item
                    .catalog__item

                        a(href="#").catalog__img
                            img(src="../../img/catalog.jpg", alt="alt")
                        a(href="#").catalog__title Доильный аппарат ТК 2-РК для коров
                        .catalog__boolean В наличии
                        .catalog__price
                            ins
                                span.woocommerce-Price-amount.amount
                                    bdi 2000 <span class="woocommerce-Price-currencySymbol">руб.<span>

                        .catalog__btn
                            a.btn(href="#") В корзину

                    //- end catalog__item

            include ../../includes/pagination.pug




    // end catalog

    include ../../includes/advantage.pug

    include ../../includes/information.pug

    include ../../includes/content.pug
