extends ../../layout/layout.pug

block variable
    -var path = '../../';
    //- -var page = 'bg';

block content
    // begin breadcrumb
    .breadcrumb.desktop 
        .container_center
            naw.woocommerce-breadcrumb
                a(href="#") Главная
                | Контакты

    // end breadcrumb

    // begin contacts
    section#contacts.contacts.section
        .container_center
            .contacts__content
                h1.section__title.section__title_lg
                    span Свяжитесь с нами
                .contacts__row
                    .contacts__col
                        .contacts__list
                            .contacts__item
                                .contacts__label
                                    i.icon_location
                                    span Адрес
                                span Беларусь, Могилёвская область, г. Бобруйск, ул. Октябрьская 149а, каб. 23

                            .contacts__item
                                .contacts__label 
                                    i.icon_clock
                                    span График работы

                                span Пн-Пт 9:00 - 18:00


                            .contacts__item
                                .contacts__label 
                                    i.icon_phone
                                    span Телефон

                                a(href="tel:+375 29 630 91 98") +375 29 630 91 98

                                .contacts__messenger
                                    .messenger
                                        .messenger__list
                                            .messenger__item
                                                a.messenger__link.youtube(href="#" target="_blank")
                                                    i.icon_youtube
                                            .messenger__item
                                                a.messenger__link.instagram(href="#" target="_blank")
                                                    i.icon_instagram
                                            .messenger__item
                                                a.messenger__link.facebook(href="#" target="_blank")
                                                    i.icon_facebook
                                            .messenger__item
                                                a.messenger__link.vk(href="#" target="_blank")
                                                    i.icon_vk


                            .contacts__item
                                .contacts__label 
                                    i.icon_mail
                                    span E-mail

                                a(href="mailto:btlexalto.bel@gmail.com") btlexalto.bel@gmail.com

                    .contacts__col
                        .contacts__label
                            span До встречи в нашем офисе
                        .contacts__gallery
                            .contacts__img.img
                                img(src="../../img/gal_1.jpg", alt="alt")
                            .contacts__img.img
                                img(src="../../img/gal_2.jpg", alt="alt")

                    .contacts__col
                        .contacts__label
                            span Адрес офиса
                        .contacts__map
                            .map
                                .map__content
                                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A15de75be4010048cdd1bc072b5dfcd714eb914e456b904e3b59639a126af1318&amp;source=constructor" width="100%" height="430" frameborder="0"></iframe>


    // end contacts
