// Begin Modal modalVideo
.modal.fade.modalVideo#modalVideo
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-body 
                .modalVideo__wraper
// End modal modalVideo

// Begin Modal info
.modal.fade.info#info
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .form__message
// End modal info


// Begin Modal oneclick
.modal.fade.oneclick#oneclick
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-header
                .modal-title Купить в один клик
                .modal-subtitle Оставьте заявку и мы свяжемся с вами в течение 5-10 минут
            .modal-body
                .modal-form
                    form.form(action="send.php")
                        input(type="hidden" name="subject" value="форма в футоре")
                        input(type="hidden" name="notspam" value="")

                        .form__row
                            .form__label Ваш номер телефона
                            input.tel(type="text" required placeholder="+375(___) ___ - __ - __")

                        .form__row
                            button.btn.btn_disabled_js(type="submit") Перезвоните мне

                        .form__row.form__row_full.mb_0
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span Даю согласие на обработку моих <a href="#" target="_blank">персональных данных</a>
// End modal oneclick

// Begin Modal onlyphone
.modal.fade.onlyphone#onlyphone
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-header
                .modal-title Только телефон и мы в деле
                .modal-subtitle Оставьте заявку и мы свяжемся с вами в течение 5-10 минут
            .modal-body 
                .modal-form
                    form.form(action="send.php")
                        input(type="hidden" name="subject" value="форма в футоре")
                        input(type="hidden" name="notspam" value="")

                        .form__row
                            .form__label Ваш номер телефона
                            input.tel(type="text" required placeholder="+375(___) ___ - __ - __")

                        .form__row
                            button.btn.btn_disabled_js(type="submit") Перезвоните мне

                        .form__row.form__row_full.mb_0
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span Даю согласие на обработку моих <a href="#" target="_blank">персональных данных</a>
// End modal onlyphone


// Begin Modal download
.modal.fade.download#download
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-header
                .modal-title Пришлите реквизиты и мы выставим счёт на оплату
            .modal-body
                .modal-form
                    form.form(action="send.php")
                        input(type="hidden" name="subject" value="форма в футоре")
                        input(type="hidden" name="notspam" value="")

                        .form__row
                            label(data-text="Файл не выбран").form__file
                                input(type='file' name="file")
                                p Файл не выбран
                                .form__btn
                                    span Выбрать...

                        .form__row
                            .form__label Ваш номер телефона
                            input.tel(type="text" required placeholder="+375(___) ___ - __ - __")

                        .form__row
                            button.btn.btn_disabled_js(type="submit") Перезвоните мне

                        .form__row.form__row_full.mb_0
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span Даю согласие на обработку моих <a href="#" target="_blank">персональных данных</a>

// End modal download


// Begin Modal addedcart
.modal.fade.addedcart#addedcart
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-header
                .modal-title Товар добавлен в корзину
            .modal-body
                .catalog-item

                    .catalog-img.img
                        img(src="../../img/addedcart.jpg", alt="alt")

                    .catalog-price
                        ins
                            span.woocommerce-Price-amount.amount
                                bdi 2000 <span class="woocommerce-Price-currencySymbol">руб.<span>

                    .catalog-info
                        .catalog-title Доильный аппарат ТК 2-РК для коров
                        .catalog-boolean В наличии


            .modal-footer
                a.btn(href="#" data-dismiss="modal") Продолжить покупки
                a.btn(href="#") Перейти в корзину
// End modal addedcart

// Begin Modal wait
.modal.fade.wait#wait
    .modal-dialog
        .modal-content.bg
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-header
                .modal-title Подождите! Не уходите с пустыми руками
                .modal-subtitle Скачайте чек-лист и узнайте как выбрать доильный аппарат
            .modal-body
                .modal-form
                    form.form(action="send.php")
                        input(type="hidden" name="subject" value="форма в футоре")
                        input(type="hidden" name="notspam" value="")

                        .form__row
                            <div class="form__label"><span>Куда прислать?</span></div>
                                <select class="select" name="messenger" data-placeholder="Whatsapp">
                                    <option value=""></option>
                                    <option value="whatsapp" selected="selected">Whatsapp</option>
                                    <option value="Viber">Viber</option>
                                    <option value="Telegram">Telegram</option>
                                </select>


                        .form__row
                            .form__label Ваш номер телефона
                            input.tel(type="text" name="phone" required placeholder="+375(___) ___ - __ - __")

                        .form__row
                            button.btn.btn_disabled_js(type="submit") Cкачать чек-лист

                        .form__row.form__row_full.mb_0
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span Даю согласие на обработку моих <a href="#" target="_blank">персональных данных</a>

// End modal wait
