extends layout/layout.pug

block content
    // begin projectNaw
    section#projectNaw.projectNaw.section
        .container_center
            h2.section__title
                span Навигация по проекту
            ul(style="font-size:1.25em;")
                li
                    a(href="../pages/home/") Главная 
                li
                    a(href="../pages/cat/") Категория 
                li
                    a(href="../pages/subcat/") Подкатегория 
                li
                    a(href="../pages/product/") Карточка продукта
                li
                    a(href="../pages/product2/") Карточка продукта (под заказ)
                li
                    a(href="../pages/product3/") Карточка продукта (скидка)
                li
                    a(href="../pages/promotions/") Акции
                li
                    a(href="../pages/searchpage/") Страница поиска
                li
                    a(href="../pages/about/") О компании
                li
                    a(href="../pages/delivery/") Доставка (Транспортной компанией)
                li
                    a(href="../pages/payment/") Способы оплаты
                li
                    a(href="../pages/return/") Как вернуть товар

                li
                    a(href="../pages/blog/") Блог (архив) 
                li
                    a(href="../pages/single/") Статья
                li
                    a(href="../pages/contacts/") Контакты
                //- li
                //-     a(href="../pages/page/") Пример страницы(нет в макете), страница по умолчании.
                li
                    a(href="../pages/thanks/") Страница спасиюо
                li
                    a(href="../pages/notfound/") 404

    // end projectNaw

    // begin testmodal
    section#testmodal.testmodal.section
        .container_center
            h2.section__title
                span модальные окна
            .testmodal__content
                a.btn.show_modal_js(href="#oneclick") Купить в один клик
                br
                br
                a.btn.show_modal_js(href="#onlyphone") Только телефон и мы в деле
                br
                br
                a.btn.show_modal_js(href="#download") Пришлите реквизиты
                br
                br
                a.btn.show_modal_js(href="#addedcart") Товар добавлен в корзину
                br
                br
                a.btn.show_modal_js(href="#wait") Подождите!
                br
                br
                a.btn.btn_lg(href="#") Вернуться на главную



    // end testmodal

    // begin testCart
    section#testCart.testCart.section
        .container_center
            h2.section__title
                span Пример карточек товара
            .catalog__grid
                //- start catalog__item
                .catalog__item

                    a(href="#").catalog__img
                        img(src="../../img/catalog.jpg", alt="alt")
                    a(href="#").catalog__title Доильный аппарат ТК 2-РК для коров
                    .catalog__boolean В наличии
                    .catalog__price
                        ins
                            span.woocommerce-Price-amount.amount
                                bdi 2000 <span class="woocommerce-Price-currencySymbol">руб.<span>

                    .catalog__btn
                        a.btn(href="#") В корзину

                //- end catalog__item

                //- start catalog__item
                .catalog__item
                    .catalog__info 
                        span Хит продаж
                    a(href="#").catalog__img
                        img(src="../../img/catalog.jpg", alt="alt")
                    a(href="#").catalog__title Доильный аппарат ТК 2-РК для коров
                    .catalog__boolean В наличии
                    .catalog__price
                        ins
                            span.woocommerce-Price-amount.amount
                                bdi 2000 <span class="woocommerce-Price-currencySymbol">руб.<span>


                    .catalog__btn
                        a.btn(href="#") В корзину

                //- end catalog__item



                //- start catalog__item
                .catalog__item.new
                    .catalog__info 
                        span Новинка
                    a(href="#").catalog__img
                        img(src="../../img/catalog.jpg", alt="alt")
                    a(href="#").catalog__title Доильный аппарат ТК 2-РК для коров
                    .catalog__boolean В наличии
                    //- .catalog__boolean.false Под заказ
                    .catalog__price
                        ins
                            span.woocommerce-Price-amount.amount
                                bdi 2000 <span class="woocommerce-Price-currencySymbol">руб.<span>

                    .catalog__btn
                        a.btn(href="#") В корзину

                //- end catalog__item

                //- start catalog__item
                .catalog__item

                    a(href="#").catalog__img
                        img(src="../../img/catalog.jpg", alt="alt")
                    a(href="#").catalog__title Доильный аппарат ТК 2-РК для коров
                    .catalog__boolean.false Под заказ
                    .catalog__price
                        ins
                            span.woocommerce-Price-amount.amount
                                bdi 2000 <span class="woocommerce-Price-currencySymbol">руб.<span>

                    .catalog__btn
                        a.btn(href="#") В корзину

                //- end catalog__item

                //- start catalog__item
                .catalog__item.sale
                    .catalog__info 
                        span -25%
                    a(href="#").catalog__img
                        img(src="../../img/catalog.jpg", alt="alt")
                    a(href="#").catalog__title Доильный аппарат ТК 2-РК для коров
                    .catalog__boolean В наличии
                    //- .catalog__boolean.false Под заказ
                    .catalog__price
                        ins
                            span.woocommerce-Price-amount.amount
                                bdi 2000 <span class="woocommerce-Price-currencySymbol">руб.<span>
                        del
                            span.woocommerce-Price-amount.amount
                                bdi 2000 <span class="woocommerce-Price-currencySymbol">руб.<span>


                    .catalog__btn
                        a.btn(href="#") В корзину

                //- end catalog__item


    // end testCart




    // begin projectBtn
    //- section#projectBtn.projectBtn.section
    //-     .container_center
    //-         h2.section__title
    //-             span Кнопки
    //-         .section__content
    //-             a.btn(href="#") Кнопка
    //-             br
    //-             br
    //-             a.btn.btn_sm(href="#") Маленькая кнопка

    // end projectBtn

    // begin projectModal
    //- section#projectModal.projectModal.section
    //-     .container_center
    //-         h2.section__title
    //-             span Модальные окна
    //-         .section__content
    //-             a.btn.show_modal_js(href="#info") Собщение
    //-             br
    //-             br
    //-             span.btn.youtubeModal_js#rsDoGqnPE4c Видео
    //- 
    //-             .youtubeModal-js#rsDoGqnPE4c

    // end projectModal
