extends ../../layout/layout.pug

block variable
    -var path = '../../';

block content

    // begin breadcrumb
    .breadcrumb.desktop 
        .container_center
            naw.woocommerce-breadcrumb
                a(href="#") Главная
                | Оплата

    // end breadcrumb

    // begin payment
    section#payment.payment.section
        .container_center
            h1.section__title.section__title_lg
                span Способы оплаты

            .payment__content
                .tabs__wrapper

                    .tabs
                        .tab Для физических лиц
                        .tab Для юридических лиц

                    .tabs__content
                        .tab__item
                            .tab__text
                                p <b>Наложенным платежом</b>
                                p Вы можете оплатить наложенным платежом наличными деньгами или банковской карточкой за доставленный товар курьеру службы доставки.
                                p <b>Наличными</b>
                                ol
                                    li Вы можете оплатить наличными деньгами за доставленный товар курьеру службы доставки.
                                    li При условии самовывоза оплата наличными деньгами в пункте выдачи заказа.
                                p <b>Банковской картой</b>
                                ol
                                    li Оплата курьеру службы доставки.
                                    li Оплата через терминал в пункте выдачи заказа.

                                p <b>Банковской картой онлайн через систему WebPay</b>

                                p При оформлении заказа на сайте выберите способ «Банковской картой онлайн». Выберите удобный способ оплаты онлайн:<br> — банковской картой через систему WebPay<br> — банковской картой через систему «Расчет» (ЕРИП) После подтверждения заказа Вы увидите номер заказа и сумму платежа. Далее нажимаете оплатить счет. Вы будете перенаправлены на сервер системы WebPay<a href="www.webpay.by">www.webpay.by</a>, обеспечивающей безопасность платежей, где вам потребуется ввести реквизиты своей карты и персональные данные. Эти данные будут введены не на странице нашего сайта, а на сервере платежной системы. Операция оплаты банковской картой онлайн полностью конфиденциальна и безопасна. Безопасный сервер WEBPAY устанавливает шифрованное соединение по защищенному протоколу TLS и конфиденциально принимает от клиента данные его платёжной карты (номер карты, имя держателя, дату окончания действия, и контрольный номер банковской карточке CVC/CVC2). После совершения оплаты с использованием банковской карты необходимо сохранять полученные карт-чеки (подтверждения об оплате) для сверки с выпиской из карт-счёта (с целью подтверждения совершённых операций в случае возникновения спорных ситуаций). В случае, если Вы не получили заказ, Вам необходимо обратиться по телефонам <a href="tel:+375 29 685 77 89">+375 29 685 77 89</a> или e-mail <a href="mailto:belexalto.bel@gmail.com">belexalto.bel@gmail.com.</a> Специалисты Вас проконсультируют. При оплате банковской платежной картой возврат денежных средств осуществляется на карточку, с которой была произведена оплата.

                                p <b>Банковской картой онлайн через систему WebPay</b>

                                p При оформлении заказа на сайте выберите способ «Банковской картой онлайн через систему «Расчет» (ЕРИП). При оплате Вашего заказа вам понадобится указать номер заказа. Номер Вы увидите после оформления заказа на сайте или перезвоните, пожалуйста, специалисту по телефону <a href="tel:+375 29 685 77 89">+375 29 685 77 89</a> для уточнения. Оплату Вы можете произвести в любом банке: - интернет-банкинге, - мобильном банкинге, - инфокиоске, - банкомате, - кассе банка. Совершить оплату можно с использованием: - наличных денежных средств (в кассе банков или воспользоваться устройствами приема наличных денег (cash-in) - любых электронных денег, - банковских платежных карточек.
                                ol
                                    li Выбрать - Пункт “Система “Расчет” (ЕРИП) - Интернет-магазины/сервисы - A-Z Латинские домены - B - belexalto.by.
                                    li Для оплаты «Товара»/ «Услуги» ввести Номер заказа.
                                    li Ввести сумму платежа (если не указана).
                                    li Проверить корректность информации.
                                    li Совершить платеж.

                                p * Если Вы осуществляете платеж в кассе банка, пожалуйста, сообщите кассиру о необходимости проведения платежа через систему ”Расчет“ (ЕРИП)


                        .tab__item
                            .tab__text
                                p <b>Безналичный расчёт для Юридических лиц</b>

                                ol
                                    li Вы выбираете нужный Вам товар.
                                    li Заказ можно оформить на сайте, выбрав способ оплаты безналичный расчет либо обратиться к специалистам и выслать ваши реквизиты, выбранный товар, информацию по доставке на нашу почту <a href="mailto:belexalto.bel@gmail.com">belexalto.bel@gmail.com.</a>
                                    li Согласовываем цены и условия договора (доставка, сроки доставки, сроки оплаты)
                                    li Заключаем и подписываем договор.
                                    li После зачисления денег сообщаем о готовности товара к отгрузке и оформляем необходимые документы


                            .tabs__btn
                                a.btn.show_modal_js(href="#download") Отправить реквизиты



    // end payment
